
.navbar {
    min-height: 60px !important;
    background-color: transparent !important;
}

.navbar-default .navbar-header {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.navbar-default .navbar-header .navbar-brand:hover {
    color: #000;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    letter-spacing: 0.5px;
    transform: translatex(-50%);
}

.navbar-nav  > li {
        /* float: none;
        display: inline-block; */
        letter-spacing: 0.5px !important;
}

.navbar-nav > li > a {
    padding-top: 19px !important;
    padding-bottom: 19px !important;
}

.navbar-default .navbar-nav > .active > a {
    color: #000 !important;
    background-color: transparent !important;
}

.row-centered {
    text-align: center;
}

.col-centered {
     display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
}
 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(235, 238, 87);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

.home-content span{
    display: block;
    padding-top: 10px;
}

.error {
    color: red;
}

.footer {
    color: gray;
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.sub-setting h2 {
    margin-bottom: 15px;
}

.setting {
    padding-left: 20px;
}

.setting .row {
    margin-bottom: 15px;
}

.sub-setting .setting .desc {
    color: gray;
    display: block;
}

.sub-setting .setting .sub {
    display: block;
    font-size: 18px;
}

.pref-body {
    max-width: 50%;
}

.dash-content .row {
    margin-top: 10px;
}

.edit-input, .acc-input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid gray;
    width: 50px;
    padding: 0px 5px 0px 5px;
}

.normal-input {
    width: 200px;
    margin-bottom: 10px;
}

.acc-input {
    margin-bottom: 15px;
    width: 300px;
}

.acc-btn {
    margin-top: 15px;
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 4px;
}

.acc-btn:hover {
    background-color: rgb(247, 247, 247);
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.light-bulb {  
  height: 100px; 
  margin-bottom: 10px;
}

.fan {
    height: 120px;
    margin-bottom: -10px;
}

.column {
    border: 1px solid #ccc;
    background-color: rgb(253, 253, 253);
    border-radius: 7px;
    padding: 20px 20px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.column:hover {
    background-color: rgb(243, 241, 241);
}

.columnActive {
    background-color: rgb(247, 247, 247);
}

.c-title, .c-sub, .c-state {
    display: block;
    padding-top: 2px;
}

.c-title {
    font-size: 22px;
    font-weight: bold;
}

.c-sub {
    font-size: 19px;
}

.c-state {
    font-size: 17px;
}

.home-mainContent {
    max-width: 60%;
    margin-top: 170px;
}

.dashbcontent { 
    width: 80%;
}

.signin {
    margin-top: 80px;
}

.signinArea {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 50px;
}